*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{

    background:#F5F7FB;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.card{

    width:420px;

    background:#fff;

    border-radius:15px;

    padding:40px;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,.1);

}

.card h1{

    color:#2563EB;

    margin-bottom:15px;

}

.card p{

    color:#666;

    margin-bottom:25px;

}

.card input{

    width:100%;

    padding:14px;

    border:1px solid #ddd;

    border-radius:8px;

    margin-bottom:20px;

    font-size:16px;

}

.card button{

    width:100%;

    padding:14px;

    background:#2563EB;

    color:white;

    border:none;

    border-radius:8px;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.card button:hover{

    background:#1D4ED8;

}

.back{

    display:inline-block;

    margin-top:20px;

    color:#2563EB;

    text-decoration:none;

    font-weight:600;

}
